/*Style global*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

/*pont blanc*/
.header{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    position: relative;
}

.title{
    font-size: 24px;
    font-weight: bold;
}

.menu container{
    position: relative;
}

/*Bouton menu avev icone*/
.dropbtn{
    background-color: blue;
    color:white;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 8px;
}

.imagehouse.png{
    width: 16px;
    height: 16px;
    background-color: antiquewhite;
    border-radius: 50%;
    display: block;
}

/*Hamburger cache sur pc*/
.hamburger{
    display: none;
    font-size: 20px;
    margin-left: 10px;
}

/*Liens du menu*/
.dropdowm-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: antiquewhite;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
    flex-direction: column;
}
.dropdowm-content a {
    color: #000;
    padding: 12px 16px;
    display: block;
}
.dropdowm-content a:hover {
    background-color: #f1f1f1;

}

/*Affichage normal sur pc(hover>*/
@media(min-width: 769px){
    .menu-container:hover .dropdowm-content{
        display: flex;

    }
    .menu-toggle{
        pointer-events: none;
    }
}

/*responsive mobile*/
@media (max-width: 768px) {
    .dropdowm-content{
        position: static;
        margin-top: 10px;
        box-shadow: none;
        width: 100%;

    }
    
}

